<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>pruebaObtenMas</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Se necesita acceso a la cámara</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Se necesita acceso a la memoria</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Enabling Face ID allows you quick and secure access to your account.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>La aplicación necesita acceder a tu ubicación para proporcionar servicios basados en la ubicación mientras la usas y en segundo plano.</string>
	<key>NSLocationUsageDescription</key>
	<string>La aplicación necesita acceder a tu ubicación para proporcionar servicios basados en la ubicación.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>La aplicación necesita acceder a tu ubicación mientras está en uso para proporcionar servicios basados en la ubicación.</string>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
    	<key>LocationPurposeWhenInUse</key>
    	<string>La aplicación necesita acceder a tu ubicación mientras está en uso para proporcionar servicios basados en la ubicación.</string>
    	<key>LocationPurposeAlways</key>
    	<string>La aplicación necesita acceder a tu ubicación en todo momento para proporcionar servicios basados en la ubicación, incluso cuando la aplicación está en segundo plano.</string>
	</dict>
	<key>NSWidgetWantsLocation</key>
	<true/>
	<key>NSCalendarsUsageDescription</key>
	<string>La aplicación necesita acceder a tu calendario para programar eventos y recordatorios.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>La aplicación necesita acceder al micrófono para grabar audio y realizar llamadas de voz.</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>La aplicación necesita acceder a Apple Music para reproducir música y acceder a tu biblioteca musical.</string>
	<key>NSMotionUsageDescription</key>
	<string>La aplicación necesita acceder a los datos de movimiento del dispositivo para proporcionar funciones relacionadas con el seguimiento de actividad física o la realidad aumentada.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>La aplicación necesita acceder al reconocimiento de voz para permitir la entrada de texto a través de comandos de voz.</string>
	<key>NSSiriUsageDescription</key>
	<string>La aplicación necesita acceso a Siri para permitir comandos de voz y control de la aplicación a través de Siri.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Galano-Grotesque-Bold.ttf</string>
		<string>Galano-Grotesque-Light.ttf</string>
		<string>Galano-Grotesque-Medium.ttf</string>
		<string>Galano-Grotesque-Semi-Bold.ttf</string>
		<string>Galano-Grotesque.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen.storyboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDarkContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
